*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg
bin/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
var/

#cartella di output per pyinstaller
build/

#cartella con gli zip da distribuire
dist/

#cartella per file personali
private/

#cartelle generata da pycharm
.idea/

#cartelle generata da python
__pycache__/

#cartella per i file vecchi che non voglio cancellare
old/

